<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 text-center">
            <a href="{{ '/' | relative_url }}" id="avatar" class="rounded-circle">
                {% if site.avatar != empty and site.avatar %}
                {% capture avatar_url %}
                {% if site.avatar contains '://' %}
                {{ site.avatar }}
                {% elsif site.img_cdn != empty and site.img_cdn %}
                {{ site.avatar | prepend: site.img_cdn }}
                {% else %}
                {{ site.avatar | relative_url }}
                {% endif %}
                {% endcapture %}
                <img src="{{ avatar_url | strip }}" alt="avatar" onerror="this.style.display='none'"
                     class="img-fluid rounded-circle mb-4">
                {% endif %}
            </a>
            <div class="site-title">
                <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
            </div>
            <div class="site-subtitle fst-italic">{{ site.tagline }}</div>
        </div>
    </div>
</div>